body {
    background-image: url('verdanthills.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.topnav {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-right: 14px;
    margin: 0;
    background-color: #F5EEC8;
    overflow: hidden;
  }

  .topnav a {
    padding: 14px 14px;
    color: #555843;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4a483d;
    color: white;
  }

  .topnav img {
    padding:14px 14px;
    padding-left: 14px;
    margin-right: auto;
    width: 96px;
    height: 42px;
  }